* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --navColor: rgba(234, 234, 234, 0.75);
  --bodyColor: #f5f5f5;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #333;
  background-color: var(--bodyColor);
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
.navbar {
  padding: 12px;
  height: 120px;
  background-color: var(--navColor);
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container ul {
  display: flex;
  padding: 5px;
}
.navbar .container ul li a {
  font-size: 1.5em;
  padding: 20px;
  transition: 0.5s ease;
}
.navbar .container ul li a:hover {
  color: blue;
  font-size: 2em;
}
.logo {
  transition: 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.hero{
  transform: translateY(-5svh);
  width: 100%;
  margin: auto;
  padding: auto;
  overflow: auto;
}
.heroImage{
  width: 100%;
}
.heroImage img{
  background-image: url(../images/map.png);
  width: 100%;
  display: block;
  margin: 5svh auto;
  position: relative;
  opacity: 35%;
}
.heroText{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 40%;
  text-align: center;
}
.heroText h1{
  font-size: 6em;
  transition: 1s;
}
.heroText p{
  margin: 0;
  font-size: 2em;
  font-weight: 400;
  transition: 1s;

}
.heroText h1:hover{
  transform: translateY(-1svh);
  color: black;
}
.heroText p:hover{
  margin: 0;
  font-weight: 400;
  transform: translateY(-1svh);

  color: black;

}

.civs{
  display: flex;
}
.civSelection{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  
}
.selectedCiv{
  display: flex;
  flex-direction: column;
  padding: 5svh;
  text-align: justify;
}
.civImage img{
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  transition: 1s;
}
.civInfo{
  padding: 3svh 1svh;
}
.civImage img:hover{
  transform: scale(1.1);
}



.articles {
  width: 60%;
  margin: auto auto 10dvh auto;
  padding: 5dvh;
  background-color: #333;
  color: bisque;
}
.articlesHypeText h1 {
  font-size: 4em;
  text-align: center;
  padding: 5dvh;
}
.selectedArticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid bisque;
  margin: 5dvh 0;
  transition: 1s;
}
.selectedArticle:hover {
  transform: translateY(-2dvh);
}
.articlePhoto img {
  width: 100%;
  height: 20dvh;
}
.articleText a {
  color: bisque;
  font-size: 1.5em;
  padding: 2dvh;
  margin: 2dvh;
  text-align: right;
  z-index: 999;
}
